.drag-drop-zone {
    padding: 1rem 1rem 0;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px #C0C0C0;
    border: 2px dashed #ccc;
    cursor: pointer;
}

.drag-drop-zone.inside-drag-area {
    border-color: #797979;
}

.drag-drop-zone .gallery {
    display: flex;
    flex-wrap: wrap;
}
.drag-drop-zone .gallery .box {
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin-bottom: 1rem;
    margin-right: 10px;
    border-radius: 20px;
    position: relative;
}
.drag-drop-zone .gallery .box .close {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
}
.drag-drop-zone .gallery .box:hover .close {
    display: block;
}
.drag-drop-zone .gallery .box:hover img {
    -webkit-filter: blur(8px);
    filter: blur(8px);
    background: white;
}
.drag-drop-zone .gallery .box img {
    background: white;
}