.fixed-wrapper {
  position: relative;
  height: 500px;
}

.fixed-header {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background: #fff;
}

.fixed-wrapper .table-responsive {
  box-sizing: content-box;
}

.fixed-wrapper .fixed-body {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
}

.fixed-wrapper .fixed-columns .fixed-body {
  overflow: hidden;
}

.fixed-wrapper .fixed-columns {
  left: 0;
  position: absolute;
  top: 0;
  background-color: #fff;
  box-sizing: border-box;
}

.fixed-main {
  position: relative;
  height: 500px;
}
